# Dependencies
node_modules
.pnpm-store

# Builds
dist
build
.next
.turbo

# Env
.env
.env.*
!.env.example

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / IDE
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Tests / coverage
coverage

# Supabase local
.supabase
